/



<footer class="footer">
  <div class="footer-container">

    <p class="contact">
      Questions? Call <a href="#">800-919-1694</a>
    </p>

    <div class="footer-links">

      <div class="column">
        <a href="#">FAQ</a>
        <a href="#">Investor Relations</a>
        <a href="#">Privacy</a>
        <a href="#">Speed Test</a>
      </div>

      <div class="column">
        <a href="#">Help Centre</a>
        <a href="#">Jobs</a>
        <a href="#">Cookie Preferences</a>
        <a href="#">Legal Notices</a>
      </div>

      <div class="column">
        <a href="#">Account</a>
        <a href="#">Ways to Watch</a>
        <a href="#">Corporate Info</a>
        <a href="#">Only on Netflix</a>
      </div>

      <div class="column">
        <a href="#">Media Centre</a>
        <a href="#">Terms of Use</a>
        <a href="#">Contact Us</a>
      </div>

    </div>

    <div class="language">
      <select>
        <option>English</option>
        <option>Hindi</option>
      </select>
    </div>

    <p class="location">Netflix Clone India</p>

    <!--  CREDIT -->
    <p class="credit">
      Made with ❤️ by <span>Mr Sahil</span>
    </p>

    <p class="recaptcha">
     <p>© 2026 Netflix. All rights reserved.</p>
    </p>

  </div>
</footer>