<link rel="stylesheet" href="/assets/css/index.css" />
<link rel="icon" type="image/png" href="/assets/image/logo/favicon.png">
<link rel="shortcut icon" type="image/png" href="/assets/image/logo/favicon.png">

<header class="header">
  <div class="header-left">
    <a href="/">
      <img src="/assets/image/logo/logo.png" class="logo" />
    </a>
  </div>

  <div class="header-right">
    <a href="/movies" class="btn-add">View Movies</a>
    <a href="/add" class="btn-add">Add Movie</a>
  </div>
</header>